## Data Discovery

In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
xlsx = pd.read_excel(os.path.join('rawdata/Storm Data Jun-Dec 2011.xlsx'))

In [3]:
df = pd.DataFrame(xlsx)

In [4]:
df.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,EVENT_TYPE,...,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE,MAGNITUDE,FLOOD_CAUSE,TOR_F_SCALE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
0,201110,29,1500,201110,30,800,57676,350515,NEW HAMPSHIRE,Heavy Snow,...,50.00K,0.00K,Amateur Radio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,201108,28,853,201108,28,1453,57538,345212,NEW HAMPSHIRE,Tropical Storm,...,15.00K,0.00K,Amateur Radio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,201110,30,120,201110,30,120,57676,352765,NEW HAMPSHIRE,Strong Wind,...,5.00K,0.00K,Amateur Radio,35.0,NaN,NaN,NaN,NaN,NaN,NaN
3,201107,21,1600,201107,21,1800,55656,333708,NEW HAMPSHIRE,Excessive Heat,...,0.00K,0.00K,AWOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,201106,28,1650,201106,28,1653,54705,328712,NORTH CAROLINA,Thunderstorm Wind,...,9.00K,0.00K,Emergency Manager,56.0,NaN,NaN,34.8108,-79.1868,34.8157,-79.1807

In [5]:
df.describe()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,MAGNITUDE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
count,38356.000000,38356.000000,38356.000000,38356.000000,38356.000000,38356.000000,38356.000000,38356.000000,38356.000000,38356.000000,38356.000000,38356.000000,23939.000000,28308.000000,28308.000000,28308.000000,28308.000000
mean,201107.553264,13.501304,1305.504719,201107.553264,16.429190,1598.097090,55223.958077,332577.501851,0.084576,0.005605,0.010194,0.001486,35.007808,39.000270,-89.058626,38.997021,-89.050432
std,1.489460,9.200079,680.899719,1.489460,9.435271,574.259801,2270.263322,14044.131113,3.322926,0.360976,0.202643,0.045931,25.317414,4.836674,10.998690,4.835368,10.995543
min,201106.000000,1.000000,0.000000,201106.000000,1.000000,0.000000,50283.000000,295877.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-14.327700,-170.886800,-14.389300,-170.829200
25%,201106.000000,5.000000,929.750000,201106.000000,8.000000,1400.000000,53563.000000,322929.750000,0.000000,0.000000,0.000000,0.000000,1.250000,35.620000,-97.160025,35.613400,-97.160000
50%,201107.000000,13.000000,1515.000000,201107.000000,17.000000,1701.000000,55238.000000,333461.500000,0.000000,0.000000,0.000000,0.000000,50.000000,39.440000,-88.270000,39.437450,-88.255000
75%,201108.000000,21.000000,1812.000000,201108.000000,25.000000,1958.000000,57146.000000,343539.250000,0.000000,0.000000,0.000000,0.000000,52.000000,42.250000,-80.759875,42.250000,-80.750000
max,201111.000000,31.000000,2359.000000,201111.000000,31.000000,2359.000000,79994.000000,588494.000000,301.000000,60.000000,22.000000,4.000000,130.000000,65.699100,144.858500,65.750100,144.759000

In [6]:
df.columns

Index(['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH',
       'END_DAY', 'END_TIME', 'EPISODE_ID', 'EVENT_ID', 'STATE', 'EVENT_TYPE',
       'CZ_NAME', 'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT',
       'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE',
       'MAGNITUDE', 'FLOOD_CAUSE', 'TOR_F_SCALE', 'BEGIN_LAT', 'BEGIN_LON',
       'END_LAT', 'END_LON'],
      dtype='object')

In [7]:
df.nunique()

BEGIN_YEARMONTH          6
BEGIN_DAY               31
BEGIN_TIME            1400
END_YEARMONTH            6
END_DAY                 31
END_TIME              1397
EPISODE_ID            6350
EVENT_ID             38356
STATE                   65
EVENT_TYPE              39
CZ_NAME               2679
INJURIES_DIRECT         36
INJURIES_INDIRECT       12
DEATHS_DIRECT           12
DEATHS_INDIRECT          4
DAMAGE_PROPERTY        268
DAMAGE_CROPS            97
SOURCE                  36
MAGNITUDE               99
FLOOD_CAUSE              6
TOR_F_SCALE              5
BEGIN_LAT            11094
BEGIN_LON            12945
END_LAT              12123
END_LON              13974
dtype: int64

## Data Cleanup

#### Things to analyze
- Split Begin Year Month
- create a single column for YYYY-MM-DD for Quandl API comparison for begin, and end

In [8]:
dtdf = pd.DataFrame(xlsx)
dtdf.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,EVENT_TYPE,...,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE,MAGNITUDE,FLOOD_CAUSE,TOR_F_SCALE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
0,201110,29,1500,201110,30,800,57676,350515,NEW HAMPSHIRE,Heavy Snow,...,50.00K,0.00K,Amateur Radio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,201108,28,853,201108,28,1453,57538,345212,NEW HAMPSHIRE,Tropical Storm,...,15.00K,0.00K,Amateur Radio,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,201110,30,120,201110,30,120,57676,352765,NEW HAMPSHIRE,Strong Wind,...,5.00K,0.00K,Amateur Radio,35.0,NaN,NaN,NaN,NaN,NaN,NaN
3,201107,21,1600,201107,21,1800,55656,333708,NEW HAMPSHIRE,Excessive Heat,...,0.00K,0.00K,AWOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,201106,28,1650,201106,28,1653,54705,328712,NORTH CAROLINA,Thunderstorm Wind,...,9.00K,0.00K,Emergency Manager,56.0,NaN,NaN,34.8108,-79.1868,34.8157,-79.1807

In [9]:
dtdf['BEGIN_YM_STR'] = dtdf['BEGIN_YEARMONTH'].astype(str)
dtdf['BEGIN_YEAR'] = df['BEGIN_YM_STR'].str[0:4]
dtdf['BEGIN_MONTH'] = df['BEGIN_YM_STR'].str[4:6]
dtdf['END_YM_STR'] = dtdf['END_YEARMONTH'].astype(str)
dtdf['END_YEAR'] = df['END_YM_STR'].str[0:4]
dtdf['END_MONTH'] = df['END_YM_STR'].str[4:6]
dtdf["START_DATE"] = dtdf["BEGIN_YEAR"].map(str) + "-" + dtdf["BEGIN_MONTH"].map(str) + "-" +\
dtdf["BEGIN_DAY"].map(str)
dtdf["END_DATE"] = dtdf["END_YEAR"].map(str) + "-" + dtdf["END_MONTH"].map(str) + "-" +\
dtdf["END_DAY"].map(str)
df.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,EVENT_TYPE,...,END_LAT,END_LON,BEGIN_YM_STR,BEGIN_YEAR,BEGIN_MONTH,END_YM_STR,END_YEAR,END_MONTH,START_DATE,END_DATE
0,201110,29,1500,201110,30,800,57676,350515,NEW HAMPSHIRE,Heavy Snow,...,NaN,NaN,201110,2011,10,201110,2011,10,2011-10-29,2011-10-30
1,201108,28,853,201108,28,1453,57538,345212,NEW HAMPSHIRE,Tropical Storm,...,NaN,NaN,201108,2011,08,201108,2011,08,2011-08-28,2011-08-28
2,201110,30,120,201110,30,120,57676,352765,NEW HAMPSHIRE,Strong Wind,...,NaN,NaN,201110,2011,10,201110,2011,10,2011-10-30,2011-10-30
3,201107,21,1600,201107,21,1800,55656,333708,NEW HAMPSHIRE,Excessive Heat,...,NaN,NaN,201107,2011,07,201107,2011,07,2011-07-21,2011-07-21
4,201106,28,1650,201106,28,1653,54705,328712,NORTH CAROLINA,Thunderstorm Wind,...,34.8157,-79.1807,201106,2011,06,201106,2011,06,2011-06-28,2011-06-28

In [10]:
dtdf.DAMAGE_PROPERTY = (dtdf.DAMAGE_PROPERTY.replace(r'[KM]+$', '', regex=True).astype(float) * \
dtdf.DAMAGE_PROPERTY.str.extract(r'[\d\.]+([KM]+)', expand=False).fillna(0).replace(['K','M'], [10**3, 10**6]).astype(int))

In [11]:
# Whoa a Billion..
dtdf.DAMAGE_CROPS = (dtdf.DAMAGE_CROPS.replace(r'[KMB]+$', '', regex=True).astype(float) * \
dtdf.DAMAGE_CROPS.str.extract(r'[\d\.]+([KMB]+)', expand=False).fillna(0).replace(['K','M','B'], [10**3, 10**6, 10**9]).astype(int))

In [12]:
dtdf['DAMAGE_PROPERTY'] = dtdf['DAMAGE_PROPERTY'].fillna(0)
dtdf['DAMAGE_CROPS'] = dtdf['DAMAGE_CROPS'].fillna(0)
dtdf.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,EVENT_TYPE,...,END_LAT,END_LON,BEGIN_YM_STR,BEGIN_YEAR,BEGIN_MONTH,END_YM_STR,END_YEAR,END_MONTH,START_DATE,END_DATE
0,201110,29,1500,201110,30,800,57676,350515,NEW HAMPSHIRE,Heavy Snow,...,NaN,NaN,201110,2011,10,201110,2011,10,2011-10-29,2011-10-30
1,201108,28,853,201108,28,1453,57538,345212,NEW HAMPSHIRE,Tropical Storm,...,NaN,NaN,201108,2011,08,201108,2011,08,2011-08-28,2011-08-28
2,201110,30,120,201110,30,120,57676,352765,NEW HAMPSHIRE,Strong Wind,...,NaN,NaN,201110,2011,10,201110,2011,10,2011-10-30,2011-10-30
3,201107,21,1600,201107,21,1800,55656,333708,NEW HAMPSHIRE,Excessive Heat,...,NaN,NaN,201107,2011,07,201107,2011,07,2011-07-21,2011-07-21
4,201106,28,1650,201106,28,1653,54705,328712,NORTH CAROLINA,Thunderstorm Wind,...,34.8157,-79.1807,201106,2011,06,201106,2011,06,2011-06-28,2011-06-28

In [13]:
dtdf.columns

Index(['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH',
       'END_DAY', 'END_TIME', 'EPISODE_ID', 'EVENT_ID', 'STATE', 'EVENT_TYPE',
       'CZ_NAME', 'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT',
       'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE',
       'MAGNITUDE', 'FLOOD_CAUSE', 'TOR_F_SCALE', 'BEGIN_LAT', 'BEGIN_LON',
       'END_LAT', 'END_LON', 'BEGIN_YM_STR', 'BEGIN_YEAR', 'BEGIN_MONTH',
       'END_YM_STR', 'END_YEAR', 'END_MONTH', 'START_DATE', 'END_DATE'],
      dtype='object')

In [14]:
final = dtdf[['EVENT_ID','START_DATE', 'BEGIN_TIME', 'END_DATE', 'END_TIME','DAMAGE_PROPERTY', 'DAMAGE_CROPS','EVENT_TYPE','CZ_NAME', 'STATE', 'SOURCE'\
             ,'EPISODE_ID', 'INJURIES_DIRECT', 'INJURIES_INDIRECT','DEATHS_DIRECT','DEATHS_INDIRECT','MAGNITUDE','FLOOD_CAUSE'\
             ,'TOR_F_SCALE', 'BEGIN_LAT','BEGIN_LON','END_LAT','END_LON']]
final.head()

,EVENT_ID,START_DATE,BEGIN_TIME,END_DATE,END_TIME,DAMAGE_PROPERTY,DAMAGE_CROPS,EVENT_TYPE,CZ_NAME,STATE,...,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,MAGNITUDE,FLOOD_CAUSE,TOR_F_SCALE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
0,350515,2011-10-29,1500,2011-10-30,800,50000.0,0.0,Heavy Snow,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,345212,2011-08-28,853,2011-08-28,1453,15000.0,0.0,Tropical Storm,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,352765,2011-10-30,120,2011-10-30,120,5000.0,0.0,Strong Wind,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,...,0,0,0,35.0,NaN,NaN,NaN,NaN,NaN,NaN
3,333708,2011-07-21,1600,2011-07-21,1800,0.0,0.0,Excessive Heat,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,328712,2011-06-28,1650,2011-06-28,1653,9000.0,0.0,Thunderstorm Wind,ROBESON,NORTH CAROLINA,...,0,0,0,56.0,NaN,NaN,34.8108,-79.1868,34.8157,-79.1807

In [15]:
final['DAMAGE_CROPS'].max()

1050000000.0

In [16]:
final.dtypes

EVENT_ID               int64
START_DATE            object
BEGIN_TIME             int64
END_DATE              object
END_TIME               int64
DAMAGE_PROPERTY      float64
DAMAGE_CROPS         float64
EVENT_TYPE            object
CZ_NAME               object
STATE                 object
SOURCE                object
EPISODE_ID             int64
INJURIES_DIRECT        int64
INJURIES_INDIRECT      int64
DEATHS_DIRECT          int64
DEATHS_INDIRECT        int64
MAGNITUDE            float64
FLOOD_CAUSE           object
TOR_F_SCALE           object
BEGIN_LAT            float64
BEGIN_LON            float64
END_LAT              float64
END_LON              float64
dtype: object

In [17]:
# Complete the call to convert the date column
final['START_DATE'] =  pd.to_datetime(final['START_DATE'], format='%Y-%m-%d')
final['END_DATE'] =  pd.to_datetime(final['END_DATE'], format='%Y-%m-%d')
final

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,EVENT_ID,START_DATE,BEGIN_TIME,END_DATE,END_TIME,DAMAGE_PROPERTY,DAMAGE_CROPS,EVENT_TYPE,CZ_NAME,STATE,...,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,MAGNITUDE,FLOOD_CAUSE,TOR_F_SCALE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
0,350515,2011-10-29,1500,2011-10-30,800,50000.0,0.0,Heavy Snow,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,345212,2011-08-28,853,2011-08-28,1453,15000.0,0.0,Tropical Storm,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,352765,2011-10-30,120,2011-10-30,120,5000.0,0.0,Strong Wind,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,...,0,0,0,35.00,NaN,NaN,NaN,NaN,NaN,NaN
3,333708,2011-07-21,1600,2011-07-21,1800,0.0,0.0,Excessive Heat,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,328712,2011-06-28,1650,2011-06-28,1653,9000.0,0.0,Thunderstorm Wind,ROBESON,NORTH CAROLINA,...,0,0,0,56.00,NaN,NaN,34.8108,-79.1868,34.8157,-79.1807
5,328717,2011-06-28,1510,2011-06-28,1511,0.0,0.0,Thunderstorm Wind,FLORENCE,SOUTH CAROLINA,...,0,0,0,50.00,NaN,NaN,33.8039,-79.5658,33.8039,-79.5658
6,326349,2011-06-28,1700,2011-06-28,1700,18000.0,0.0,Thunderstorm Wind,LYNCHBURG (C),VIRGINIA,...,0,0,0,60.00,NaN,NaN,37.4000,-79.1800,37.4200,-79.1400
7,326350,2011-06-28,1701,2011-06-28,1701,900.0,0.0,Thunderstorm Wind,CAMPBELL,VIRGINIA,...,0,0,0,50.00,NaN,NaN,37.3084,-79.2363,37.3084,-79.2363
8,326352,2011-06-28,1648,2011-06-28,1648,2700.0,0.0,Thunderstorm Wind,BEDFORD,VIRGINIA,...,0,0,0,55.00,NaN,NaN,37.3600,-79.2900,37.4000,-79.2800
9,326357,2011-06-28,1715,2011-06-28,1715,4500.0,0.0,Thunderstorm Wind,BUCKINGHAM,VIRGINIA,...,0,0,0,55.00,NaN,NaN,37.5600,-78.4900,37.5600,-78.4900
10,320901,2011-06-20,1716,2011-06-20,1716,0.0,0.0,Thunderstorm Wind,MARION,KANSAS,...,0,0,0,52.00,NaN,NaN,38.3500,-97.2000,38.3500,-97.2000
11,320902,2011-06-20,1717,2011-06-20,1717,0.0,0.0,Hail,SEDGWICK,KANSAS,...,0,0,0,1.25,NaN,NaN,37.6768,-97.3676,37.6768,-97.3676
12,320906,2011-06-20,1725,2011-06-20,1725,0.0,0.0,Flood,SEDGWICK,KANSAS,...,0,0,0,NaN,Heavy Rain,NaN,37.6891,-97.3361,37.6802,-97.3410
13,320907,2011-06-20,1729,2011-06-20,1729,0.0,0.0,Thunderstorm Wind,BUTLER,KANSAS,...,0,0,0,52.00,NaN,NaN,37.7000,-97.1500,37.7000,-97.1500
14,320909,2011-06-20,1741,2011-06-20,1741,0.0,0.0,Hail,SUMNER,KANSAS,...,0,0,0,0.88,NaN,NaN,37.3900,-97.2800,37.3900,-97.2800
15,328721,2011-06-28,1452,2011-06-28,1453,1000.0,0.0,Thunderstorm Wind,FLORENCE,SOUTH CAROLINA,...,0,0,0,54.00,NaN,NaN,33.8689,-79.6978,33.8689,-79.6978
16,328978,2011-06-27,1230,2011-06-27,1230,1000.0,0.0,Lightning,COLUMBUS,NORTH CAROLINA,...,0,0,0,NaN,NaN,NaN,34.4102,-78.7403,34.4102,-78.7403
17,329922,2011-08-01,0,2011-08-31,2359,0.0,0.0,Drought,DOUGHERTY,GEORGIA,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,329923,2011-08-01,0,2011-08-31,2359,0.0,0.0,Drought,EARLY,GEORGIA,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,329924,2011-08-01,0,2011-08-31,2359,0.0,0.0,Drought,GRADY,GEORGIA,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,329925,2011-08-01,0,2011-08-31,2359,0.0,0.0,Drought,IRWIN,GEORGIA,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,329926,2011-08-01,0,2011-08-31,2359,0.0,0.0,Drought,LANIER,GEORGIA,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,329927,2011-08-01,0,2011-08-31,2359,0.0,0.0,Drought,LEE,GEORGIA,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,329928,2011-08-01,0,2011-08-31,2359,0.0,0.0,Drought,LOWNDES,GEORGIA,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,329929,2011-08-01,0,2011-08-31,2359,0.0,0.0,Drought,MILLER,GEORGIA,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,324303,2011-06-26,2158,2011-06-26,2158,0.0,0.0,Thunderstorm Wind,HARRISON,MISSOURI,...,0,0,0,56.00,NaN,NaN,40.5300,-94.1500,40.5300,-94.1500
26,324304,2011-06-26,2201,2011-06-26,2201,0.0,0.0,Hail,HARRISON,MISSOURI,...,0,0,0,1.00,NaN,NaN,40.5300,-94.1500,40.5300,-94.1500
27,327836,2011-06-24,1701,2011-06-24,1707,1000.0,0.0,Thunderstorm Wind,CHEROKEE,GEORGIA,...,0,0,0,37.00,NaN,NaN,34.0800,-84.6550,34.1000,-84.5724
28,317492,2011-07-11,1630,2011-07-11,1630,0.0,0.0,Hail,SHERIDAN,NEBRASKA,...,0,0,0,2.50,NaN,NaN,42.6600,-102.1200,42.6600,-102.1200
29,317493,2011-07-11,1625,2011-07-11,1625,0.0,0.0,Thunderstorm Wind,SHERIDAN,NEBRASKA,...,0,0,0,52.00,NaN,NaN,42.6529,-102.2829,42.6529,-102.2829
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38326,322309,2011-06-21,1915,2011-06-21,1915,0.0,0.0,Thunderstorm Wind,WILL,ILLINOIS,...,0,0,0,56.00,NaN,NaN,41.5655,-88.1617,41.5655,-88.1617
38327,332522,2011-07-24,1630,2011-07-24,1640,20000.0,0.0,Thunderstorm Wind,GRANVILLE,NORTH CAROLINA,...,0,0,0,50.00,NaN,NaN,36.4500,-78.6800,36.4400,-78.6400
38328,307570,2011-07-04,1440,2011-07-04,1440,25000.0,0.0,Thunderstorm Wind,CLEVELAND,ARKANSAS,...,0,0,0,52.00,NaN,NaN,34.0300,-92.0300,34.0300,-92.0300
38329,334958,2011-08-25,115,2011-08-25,115,50000.0,0.0,Thunderstorm Wind,LAWRENCE,PENNSYLVANIA,...,0,0,0,50.00,NaN,NaN,41.0500,-80.3500,41.0500,-80.3500
38330,309893,2011-07-07,1625,2011-07-07,1625,0.0,0.0,Hail,MARION,ARKANSAS,...,0,0,0,1.00,NaN,NaN,36.3800,-92.6339,36.3800,-92.6339
38331,339751,2011-08-02,2005,2011-08-02,2005,0.0,0.0,Thunderstorm Wind,DE KALB,ILLINOIS,...,0,0,0,52.00,NaN,NaN,41.9007,-88.6894,41.9007,-88.6894
38332,326247,2011-06-13,1115,2011-06-13,1120,0.0,0.0,Hail,DUNKLIN,MISSOURI,...,0,0,0,1.00,NaN,NaN,36.0386,-90.3172,36.0386,-90.3172
38333,334614,2011-07-18,1715,2011-07-18,1715,2000.0,0.0,Thunderstorm Wind,GUERNSEY,OHIO,...,0,0,0,50.00,NaN,NaN,40.0400,-81.4400,40.0400,-81.4400
38334,325333,2011-06-04,1750,2011-06-04,1750,0.0,0.0,Thunderstorm Wind,HOWARD,INDIANA,...,0,0,0,52.00,NaN,NaN,40.5601,-86.1556,40.5601,-86.1556
38335,305543,2011-06-26,1705,2011-06-26,1705,0.0,0.0,Thunderstorm Wind,ANTELOPE,NEBRASKA,...,0,0,0,52.00,NaN,NaN,42.1300,-98.0300,42.1300,-98.0300
38336,349797,2011-09-05,928,2011-09-05,930,0.0,0.0,Marine Thunderstorm Wind,PENSACOLA FL TO PASCAGOULA MS OUT 20NM,GULF OF MEXICO,...,0,0,0,63.00,NaN,NaN,30.2500,-88.0797,30.2500,-88.0797
38337,352097,2011-10-07,1700,2011-10-07,1700,0.0,0.0,Thunderstorm Wind,GRANT,KANSAS,...,0,0,0,52.00,NaN,NaN,37.6100,-101.1100,37.6100,-101.1100
38338,345193,2011-08-08,1420,2011-08-08,1420,10000.0,0.0,Lightning,MADISON,ALABAMA,...,0,0,0,NaN,NaN,NaN,34.7095,-86.6449,34.7095,-86.6449
38339,339631,2011-08-11,1840,2011-08-11,1840,10000.0,0.0,Thunderstorm Wind,DAVISON,SOUTH DAKOTA,...,0,0,0,61.00,NaN,NaN,43.7300,-98.0300,43.7300,-98.0300
38340,320010,2011-08-05,1635,2011-08-05,1635,0.0,0.0,Hail,BELTRAMI,MINNESOTA,...,0,0,0,0.88,NaN,NaN,47.4200,-94.6600,47.4200,-94.6600
38341,332526,2011-06-20,245,2011-06-20,245,0.0,0.0,Thunderstorm Wind,LEWIS,MISSOURI,...,0,0,0,52.00,NaN,NaN,40.0070,-91.7151,40.0070,-91.7151
38342,298030,2011-06-09,2034,2011-06-09,2037,1000.0,0.0,Thunderstorm Wind,MCCORMICK,SOUTH CAROLINA,...,0,0,0,50.00,NaN,NaN,33.8579,-82.2093,33.8579,-82.2093
38343,333257,2011-07-04,1330,2011-07-04,1330,0.0,0.0,Thunderstorm Wind,AROOSTOOK,MAINE,...,0,0,0,52.00,NaN,NaN,46.9400,-68.1200,46.9400,-68.1200
38344,342676,2011-08-12,1910,2011-08-12,1913,0.0,0.0,Thunderstorm Wind,MCPHERSON,KANSAS,...,0,0,0,56.00,NaN,NaN,38.1700,-97.3900,38.1700,-97.3900
38345,329801,2011-08-28,1445,2011-08-28,1500,0.0,0.0,Heavy Rain,JEFFERSON,OREGON,...,0,0,0,NaN,NaN,NaN,44.7500,-121.3000,44.7500,-121.3000
38346,327328,2011-06-05,318,2011-06-05,318,0.0,0.0,Thunderstorm Wind,ADAMS,ILLINOIS,...,0,0,0,52.00,NaN,NaN,40.0881,-91.2708,40.0881,-91.2708
38347,299929,2011-06-15,2010,2011-06-15,2014,6000.0,0.0,Thunderstorm Wind,LEXINGTON,SOUTH CAROLINA,...,0,0,0,55.00,NaN,NaN,33.9900,-81.2300,33.9900,-81.2300
38348,334585,2011-09-20,1412,2011-09-20,1412,0.0,0.0,Funnel Cloud,GRAND FORKS,NORTH DAKOTA,...,0,0,0,NaN,NaN,NaN,47.9200,-97.0700,47.9200,-97.0700
38349,347338,2011-09-29,1720,2011-09-29,1725,0.0,0.0,Marine Thunderstorm Wind,BOSTON HARBOR,ATLANTIC NORTH,...,0,0,0,42.00,NaN,NaN,42.3304,-71.0153,42.3304,-71.0153
38350,318542,2011-06-02,1516,2011-06-02,1516,0.0,0.0,Hail,RUTHERFORD,NORTH CAROLINA,...,0,0,0,1.00,NaN,NaN,35.4800,-82.0800,35.4800,-82.0800
38351,328607,2011-06-26,1905,2011-06-26,1906,2250.0,0.0,Thunderstorm Wind,BRYAN,GEORGIA,...,0,0,0,50.00,NaN,NaN,32.2000,-81.5300,32.2000,-81.5300
38352,341339,2011-08-09,1614,2011-08-09,1614,0.0,0.0,Thunderstorm Wind,ELBERT,GEORGIA,...,0,0,0,50.00,NaN,NaN,34.2000,-83.0300,34.2000,-83.0300
38353,347251,2011-09-02,1744,2011-09-02,1744,0.0,0.0,Thunderstorm Wind,ALEXANDER,NORTH CAROLINA,...,0,0,0,50.00,NaN,NaN,35.9300,-81.2800,35.9300,-81.2800
38354,341348,2011-08-11,1526,2011-08-11,1526,0.0,0.0,Thunderstorm Wind,CABARRUS,NORTH CAROLINA,...,0,0,0,55.00,NaN,NaN,35.3900,-80.7100,35.3900,-80.7100
38355,346846,2011-09-04,1730,2011-09-04,1730,0.0,0.0,Thunderstorm Wind,RENSSELAER,NEW YORK,...,0,0,0,50.00,NaN,NaN,42.9040,-73.5881,42.9040,-73.5881

In [18]:
final.dtypes

EVENT_ID                      int64
START_DATE           datetime64[ns]
BEGIN_TIME                    int64
END_DATE             datetime64[ns]
END_TIME                      int64
DAMAGE_PROPERTY             float64
DAMAGE_CROPS                float64
EVENT_TYPE                   object
CZ_NAME                      object
STATE                        object
SOURCE                       object
EPISODE_ID                    int64
INJURIES_DIRECT               int64
INJURIES_INDIRECT             int64
DEATHS_DIRECT                 int64
DEATHS_INDIRECT               int64
MAGNITUDE                   float64
FLOOD_CAUSE                  object
TOR_F_SCALE                  object
BEGIN_LAT                   float64
BEGIN_LON                   float64
END_LAT                     float64
END_LON                     float64
dtype: object

In [19]:
final.describe()

,EVENT_ID,BEGIN_TIME,END_TIME,DAMAGE_PROPERTY,DAMAGE_CROPS,EPISODE_ID,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,MAGNITUDE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
count,38356.000000,38356.000000,38356.000000,3.835600e+04,3.835600e+04,38356.000000,38356.000000,38356.000000,38356.000000,38356.000000,23939.000000,28308.000000,28308.000000,28308.000000,28308.000000
mean,332577.501851,1305.504719,1598.097090,1.751267e+05,6.089655e+04,55223.958077,0.084576,0.005605,0.010194,0.001486,35.007808,39.000270,-89.058626,38.997021,-89.050432
std,14044.131113,680.899719,574.259801,5.407172e+06,5.564226e+06,2270.263322,3.322926,0.360976,0.202643,0.045931,25.317414,4.836674,10.998690,4.835368,10.995543
min,295877.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,50283.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-14.327700,-170.886800,-14.389300,-170.829200
25%,322929.750000,929.750000,1400.000000,0.000000e+00,0.000000e+00,53563.000000,0.000000,0.000000,0.000000,0.000000,1.250000,35.620000,-97.160025,35.613400,-97.160000
50%,333461.500000,1515.000000,1701.000000,0.000000e+00,0.000000e+00,55238.000000,0.000000,0.000000,0.000000,0.000000,50.000000,39.440000,-88.270000,39.437450,-88.255000
75%,343539.250000,1812.000000,1958.000000,1.000000e+03,0.000000e+00,57146.000000,0.000000,0.000000,0.000000,0.000000,52.000000,42.250000,-80.759875,42.250000,-80.750000
max,588494.000000,2359.000000,2359.000000,5.000000e+08,1.050000e+09,79994.000000,301.000000,60.000000,22.000000,4.000000,130.000000,65.699100,144.858500,65.750100,144.759000

In [20]:
cols = ['DAMAGE_PROPERTY', 'DAMAGE_CROPS']

In [21]:
final[cols] = final[cols].replace({0:np.nan})

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [22]:
final.head()

,EVENT_ID,START_DATE,BEGIN_TIME,END_DATE,END_TIME,DAMAGE_PROPERTY,DAMAGE_CROPS,EVENT_TYPE,CZ_NAME,STATE,...,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,MAGNITUDE,FLOOD_CAUSE,TOR_F_SCALE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
0,350515,2011-10-29,1500,2011-10-30,800,50000.0,NaN,Heavy Snow,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,345212,2011-08-28,853,2011-08-28,1453,15000.0,NaN,Tropical Storm,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,352765,2011-10-30,120,2011-10-30,120,5000.0,NaN,Strong Wind,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,...,0,0,0,35.0,NaN,NaN,NaN,NaN,NaN,NaN
3,333708,2011-07-21,1600,2011-07-21,1800,NaN,NaN,Excessive Heat,EASTERN HILLSBOROUGH,NEW HAMPSHIRE,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,328712,2011-06-28,1650,2011-06-28,1653,9000.0,NaN,Thunderstorm Wind,ROBESON,NORTH CAROLINA,...,0,0,0,56.0,NaN,NaN,34.8108,-79.1868,34.8157,-79.1807

In [23]:
final.to_csv(os.path.join('cleandata','2011_disaster_data.csv'),index=False)